extends ../layouts/default
include ../mixins/no-content

mixin winner(competition)
	ul.winners: each winner in competition
			li
				span= winner._.year.format("YYYY")
				span= `${winner.name.first} ${winner.name.last}`
				if (winner.country || winner.vintage || winner.label)
					span= winner.country || winner.vintage || winner.label

block content
	.header-image(style="background: url(/images/party.jpg)")
	section
		h2.section-header Competitions
		p.section-description Here you can see winners for competitions organized or hosted by us.
	hr.section-seperator
	section
		h2.section-header Previous winners
		div.tabs-wrapper
			ul.tabs
				li.tab.active(data-target="#best-sommelier-uk"): span= "Best Sommelier UK"
				li.tab(data-target="#asi_certificate"): span= "ASI Certificate"
				li.tab(data-target="#world"): span= "World"
				li.tab(data-target="#europe"): span= "Europe"
				li.tab(data-target="#americas"): span= "Americas"
				li.tab(data-target="#asia_oceana"): span= "Asia & Oceana"
			div.tab-content#best-sommelier-uk.active
				h2.section-header= "Best Sommelier UK"
				if (best_sommelier_uk.length > 0)
					+winner(best_sommelier_uk)
				else 
					+no-content("Sorry, We couldn't find any winners for this competition.")
			div.tab-content#asi_certificate
				h2.section-header= "ASI Certificate"
				if (asi_certificate.length > 0)
					+winner(asi_certificate)
				else 
					+no-content("Sorry, We couldn't find any winners for this competition.")
			div.tab-content#world
				h2.section-header= "world"
				if (world.length > 0)
					+winner(world)
				else 
					+no-content("Sorry, We couldn't find any winners for this competition.")
			div.tab-content#europe
				h2.section-header= "Europe"
				if (europe.length > 0)
					+winner(europe)
				else 
					+no-content("Sorry, We couldn't find any winners for this competition.")
			div.tab-content#americas
				h2.section-header= "Americas"
				if (americas.length > 0)
					+winner(americas)
				else 
					+no-content("Sorry, We couldn't find any winners for this competition.")
			div.tab-content#asia_oceana
				h2.section-header= "Asia & Oceana"
				if (asia_oceana.length > 0)
					+winner(asia_oceana)
				else 
					+no-content("Sorry, We couldn't find any winners for this competition.")


block js
	script.
		$(".tab").click(function() {
			/*Set the active class on the tab*/
			$(".tab").each(function() {
				$(this).removeClass("active")
			});
			$(this).addClass("active");
			/*Set the active tab-content*/
			$(".tab-content").each(function() {
				$(this).removeClass("active");
			});
			$($(this).data("target")).addClass("active");
		})