extends ../layouts/default

mixin winner(competition)
	ul.winners: each winner in winners
		if (winner.competition == competition)
				li
					span= winner._.year.format("YYYY")
					span= `${winner.name.first} ${winner.name.last}`

block content
	.header-image(style="background: url(/images/party.jpg)")
	section
		h2.section-header Competitions
		p.section-description Here you can see winners for competitions organized or hosted by us.
	hr.section-seperator
	section
		h2.section-header Previous winners
		div.tabs-wrapper
			ul.tabs
				li.tab.active(data-target="#best-sommelier-uk"): span= "Best Sommelier UK"
				li.tab(data-target="#asi-certificate"): span= "ASI Certificate"
				li.tab(data-target="#world"): span= "World"
				li.tab(data-target="#europe"): span= "Europe"
				li.tab(data-target="#americas"): span= "Americas"
				li.tab(data-target="#asia-oceana"): span= "Asia & Oceana"
			div.tab-content#best-sommelier-uk.active
				h2.section-header= "Best Sommelier UK"
				if (winnerCount[0].winnerCount > 0)
					+winner("Best Sommelier UK")
				else 
					article
						.no-content
							img(src="images/WineBottleEmpty.svg")
							h2 We couldn't find any winners for this competition!
			div.tab-content#asi-certificate
				h2.section-header= "ASI Certificate"
				if (winnerCount[1].winnerCount > 0)
					+winner("ASI Certificate")
				else 
					article
						.no-content
							img(src="images/WineBottleEmpty.svg")
							h2 We couldn't find any winners for this competition!
			div.tab-content#world
				h2.section-header= "World"
				if (winnerCount[2].winnerCount > 0)
					+winner(winner, "World")
				else 
					article
						.no-content
							img(src="images/WineBottleEmpty.svg")
							h2 We couldn't find any winners for this competition!
			div.tab-content#europe
				h2.section-header= "Europe"
				if (winnerCount[3].winnerCount > 0)
					+winner(winner, "europe")
				else 
					article
						.no-content
							img(src="images/WineBottleEmpty.svg")
							h2 We couldn't find any winners for this competition!
			div.tab-content#americas
				h2.section-header= "Americas"
				if (winnerCount[4].winnerCount > 0)
					+winner(winner, "Americas")
				else 
					article
						.no-content
							img(src="images/WineBottleEmpty.svg")
							h2 We couldn't find any winners for this competition!
			div.tab-content#asia-oceana
				h2.section-header= "Asia & Oceana"
				if (winnerCount[5].winnerCount > 0)
					each winner in winners
						+winner(winner, "Asia & Oceana")
				else 
					article
						.no-content
							img(src="images/WineBottleEmpty.svg")
							h2 We couldn't find any winners for this competition!

block js
	script.
		$(".tab").click(function() {
			/*Set the active class on the tab*/
			$(".tab").each(function() {
				$(this).removeClass("active")
			});
			$(this).addClass("active");
			/*Set the active tab-content*/
			$(".tab-content").each(function() {
				$(this).removeClass("active");
			});
			$($(this).data("target")).addClass("active");
		})