include ../mixins/flash-messages
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= `${pageTitle} - ${brand}`
		meta(name="description", content=`${meta_description}`)
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")

		//- Import site styling
		link(rel="stylesheet", href="/styles/site.css")

		//- If there is a user logged in who can acces the admin panel, link the css to style the panel
		if user && user.canAccessKeystone
			link(rel="stylesheet", href="/keystone/styles/content/editor.min.css")
		
		//- Add spare blocks for use with view-specific HEAD tags and style LINKs
		block css
		block head
	body
		header
			nav
				.nav-inner
					.nav-item.nav-brand
						a(href="/")= brand
					.nav-burger(data-target="#header-dropdown")
						span
						span
						span
			.nav-menu#header-dropdown
				each link in navLinks
					a(href=link.href class=(section == link.key ? "active" : null) ondragstart="return false;")= link.label
		block intro
		+flash-messages(messages)
		//- Main content
		block content
		//- Include a global footer
		footer
			nav
				.nav-inner
					.nav-item#copyright: span= `© ${brand} ${(new Date()).getFullYear()}`
					if user
						if user.canAccessKeystone
							.nav-item: a.btn(href="/keystone") Dashboard
						.nav-item: a.btn(href="/keystone/signout") Logout
					else
						.nav-item: a.btn(href="/keystone/signin") Login
		//- Add jquery
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous")
		//- If there is a user logged in who can access the admin console, add the script to support it
		if user && user.canAccessKeystone
			script(src="/keystone/js/content/editor.js")

		//- Add a spare block for view-specific javascript
		block js
		script.
			$(document).ready(function() {
				//- Handles the navigation menu
				$(document).click(function(e) {
					$(".nav-burger").each(function() {
						var data_target = $($(this).data("target"));
						if (e.target == this || $(e.target).parent()[0] == $(this)[0]) {
							data_target.toggleClass("active");
						} else if (data_target.hasClass("active")) {
							data_target.removeClass("active");
						}
					});
				});
			});
